* {
	box-sizing: border-box;
    	font-family: "Andale Mono", AndaleMono, monospace;
	color: var(--font);
	background-color: var(--bg);
	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}
:root {
	--font: #131513;
	--bg: #f9f9f9;
	--placeholder: #D1D1D6;
}
@media (prefers-color-scheme: dark) {
	:root {
		--font: #DADAE0;
		--bg: #161616;
		--placeholder: #48484A;
	}
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr min-content;
	font-weight: 400;
}
textarea {
	border: 0;
	resize: none;
	padding: 0.5em;
	font-size: 18px;
	line-height: 1.25;
}
textarea:focus { 
    outline: none !important;
}

/* textarea[readonly] {
	background: #eeeeee;
} */
::placeholder {
	color: var(--placeholder);
	font-weight: 500;
}
