@font-face {
	font-family: "ibm-plex-mono";
	src: url("/IBM-Plex-Mono/IBMPlexMono-Regular.otf");
	font-weight: 400;
}
@font-face {
	font-family: "ibm-plex-mono";
	src: url("/IBM-Plex-Mono/IBMPlexMono-Text.otf");
	font-weight: 500;
}
* {
	box-sizing: border-box;
	font-family: "ibm-plex-mono", "Andale Mono", AndaleMono, monospace;
	color: var(--font);
	background-color: var(--bg);
	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
}
:root {
	--font: #131513;
	--bg: #f9f9f9;
	--placeholder: #6F6F71;
}
@media (prefers-color-scheme: dark) {
	:root {
		--font: #DADAE0;
		--bg: #161616;
		--placeholder: #7A7D7E;
	}
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr min-content;
	font-weight: 400;
}
textarea {
	border: 0;
	resize: none;
	padding: 0.5em;
	font-size: 18px;
	line-height: 1.25;
}
textarea:focus { 
    outline: none !important;
}

/* textarea[readonly] {
	background: #eeeeee;
} */
::placeholder {
	color: var(--placeholder);
	font-weight: 500;
}
