@font-face {
	font-family: "avenue-x";
	src: url("AvenueX.otf");
}

* {
	box-sizing: border-box;
	font-family: "avenue-x";
/*      background: #F0F4EF; */
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr min-content;
}

textarea {
	border: 0;
	resize: none;
	padding: 0.5em;
	font-size: 15px;
	line-height: 1.25;
}

textarea:focus { 
    outline: none !important;
}

/* textarea[readonly] {
	background: #eeeeee;
} */

::placeholder {
	font-weight: 500;
	color: #D1D1D6;
/* 	color: #BFCC94; */
}
